{{!-- NAVBAR --}}
<nav class="navbar navbar-expand-lg navbar-light bg-primary shadow">
  <a class="navbar-brand text-white" href="#">Mongo Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active m-1">
        <a class="nav-link text-light" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item m-1">
        <a class="nav-link text-light" href="/saved">Saved Articles</a>
      </li>
      <li class="nav-item m-1">
        <a href="/home">
          <button id="scrape-btn" type="button" class="btn btn-danger">Scrape New Articles!</button>
        </a>
      </li>
      <li class="nav-item m-1">
        <a href="/home">
          <button id="clear-articles" type="button" class="btn btn-danger">Clear Articles!</button>
        </a>
      </li>
    </ul>
  </div>
</nav>

{{!-- CENTER JUMBOTRON WITH BG IMG --}}
<div id="bg-img" class="jumbotron jumbotron-fluid shadow">
  <div class="container pt-5">
    <h1 class="display-4 text-white text-center font-weight-bold">Mongo Scraper</h1>
    <p class="lead text-white text-center font-weight-bold">The Onion Edition</p>
  </div>
</div>

{{!-- MAIN CONTENT --}}
{{!-- IF SAVED ARTICLES --}}
<div>
  {{#each dbArticles}}
    <div class="card m-3 shadow">
      <div class="card-header bg-primary">
        <button type="button" class="btn btn-success float-right purple-btn">Article Notes</button>
        <button type="button" class="btn btn-danger float-right mr-3">Delete From Saved</button>
        <a class="text-white" href="{{ link }}" target="_blank">
          <h4>{{ title }}</h4>
        </a>
      </div>
      <div class="card-body bg-light">
        <p class="mb-0">{{ summary }}</p>
      </div>
    </div>
  {{/each}}
</div>
{{!-- IF NO SAVED ARTICLES --}}
<div id="if-no-arts">
  <div id="orange-uh-oh" class="m-3 text-center p-3 shadow">
    <h3 class="text-white">Uh Oh. Looks like we don't have any saved articles.</h3>
  </div>
  <div class="card m-3 shadow text-center">
    <div class="card-header bg-primary p-3">
      <h3 class="text-white">Would You Like to Browse Available Articles?</h3>
    </div>
    <div class="card-body bg-light">
      <a class="text-primary" href="/home">
        <h4 id="scrape-link">Browse Articles</h4>
      </a>
    </div>
  </div>
</div>
{{!-- FOOTER --}}
<footer id="footer" class="bg-primary mb-0 mt-5">
  <p class="text-white p-3 mb-0">The Onion Mongo Scraper</p>
</footer>